<!DOCTYPE html>
<html ng-app="app">
<head>

<base href="" />
<meta name="fragment" content="" />

<title ng-bind="ngMeta.title"></title>
<meta content="{{ngMeta.description}}" name="description">

<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport">
<meta content="pt-br" http-equiv="content-language">

<link rel="stylesheet" type="text/css" href="css.css">
</head>
<body ng-class="{'scroll_blocked': scroll.blocked}">
<ui-view></ui-view>
<!-- js -->
<script type="text/javascript" src="libs.js"></script>
<script type="text/javascript" src="js.js"></script>
</body>
</html>
