$positions: ('top', 'right', 'bottom', 'left', 'vertical', 'horizontal');
$properties: ('margin', 'padding', 'border');

@each $position in $positions{
	@each $property in $properties{

		.remove-#{$property}-#{$position}{
			@if $position == 'vertical'{
				#{$property}-top: 0;
				#{$property}-bottom: 0;

			} @else if $position == 'horizontal'{
				#{$property}-right: 0;
				#{$property}-left: 0;

			} @else{
				#{$property}-#{$position}: 0;
			}
		}
	}
}

@each $property in $properties{
	.remove-#{$property}{
		#{$property}: 0;
	}
}

$cursors: ('pointer', 'grab');

@each $cursor in $cursors{
	.cursor-#{$cursor}{
		cursor: #{$cursor};
	}
}
